<a href="https://colab.research.google.com/github/srujayreddyv/CSUS-CSC177-DataAnalyticsAndMining/blob/main/labs/Python_Basics_Srujay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Basics

## What is Python?  ðŸ

--> Interpreted Language (Processed at runtime) <br>
--> Interactive (Direct interaction with python interpreter) <br>
--> Object oriented Language

## Python features :)
    
    Easy to read
    Case-sensitive
    Bulk Libraries (Pandas ,NLTK, Tensorflow, Tkinter etc)
    Database (Interface to major databases)
    Portable (Runs on various hardware platforms)
    ..Etc

## Identifiers to  identify +.+

To identify a variable, function, class, module or other object. <br>
An identifier starts with a letter A to Z or a to z or an underscore. <br>
Python does not allow punctuation characters such as @, $, and % within identifiers <br>

## Reserved Words
![image.png](attachment:image.png)

## No curly braces, Only Spaces     (Python vs Java)

In [1]:
def simp_class():                               # public class Simp_class {
     x = 10                                     #   int x = 10;
     print(x)                                   #  public static void main(String[] args) {
                                                #    Simp_class sim_obj = new Simp_class();
simp_class()                                    #    System.out.println(sim_obj.x);
                                                #  }
                                                # }

10

## Quotes for notes

In [2]:
word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""

## Data Types

![cs.png](attachment:cs.png)

## Operators

Arithmetic Operators (+, -, *, /, %, **, //) <br>
Comparison Operators (==, !=, <>, >, <, >=, <=) <br>
Assignment Operators (=, +=, -=, *=, /=, %=, **=, //=)   <br> Eg.,a = a + 5   ->  a += 5
Logical Operators (and, or, not) <br>
Membership Operators (in, not in)

In [3]:
a = ['stan','lucy','kate']
print('stan' in a,'----' ,'drake' in a)

True ---- False

## Enough of boring stuff ....Let the fun begin !!

In [4]:
print("Hey, Multiverse !!")         # Python 2.7 -> print "Hey, Multiverse" or print ("Hey, Multiverse")

Hey, Multiverse !!

In [5]:
a = 10
if (a == 10) : print ("In-line if condition")

In-line if condition

## Loop, If, Else If, Continue, Break, Pass

In [6]:
while a != 0:
    a = a-1                       # decrements by 1
    if a==7:
        print("Printing at a value ",7)
    elif a==5:
        continue                  # Continue statement will carry on with the next loop (Ignores statements below it)
        print("This print statement is never printed due to continue statement")
    elif a==6:
        pass
        print("Pass is a null statement, used during code development")
    elif a==4:
        print("Breaking loop at ",4)
        break                           # Breaks out of a loop

Printing at a value  7
Pass is a null statement, used during code development
Breaking loop at  4

## Useful Mathematical Functions

In [7]:
import math as m

x = -4.3

print(abs(x))           # gives the absolute value
print(m.ceil(x))        # rounds up to the greater value
print(m.exp(x))         # returns exponential value of x
print(m.pow(2,x))       # finds the power of specified integer, here it's 2.
print(round(x))         # x rounded to n digits from the decimal point
print(m.sqrt(abs(x)))   # to find square root of x

4.3
-4
0.013568559012200934
0.050765774772264724
-4
2.073644135332772

## Playing with Strings

In [8]:
y = "Let's scramble this statement"
    #012345678910           -3-2-1

print(y[0],y[4],y[7])            # prints the character positions specified
print(y[0:5],y[:5])              # prints from 0 to 4  .... 5 is excluded.
print(y[6:9])                    # prints from 6 to 8........9 is excluded.
print(y[6:])                     # prints from specified index to the end.
print(y[-1])                     # prints the last character.  Index starts from -1
print(y[-9:-4])                  # prints the characters of negative indexes.
print(y[-9:])                    # prints from negative inidex to last index.
print(y + " for good")           # + is used to add more text to the specified string
print(y[6:14] * 3)               # * concatenating multiple copies of the same string
print("scramble" in y)           # membership operator "in" returns true if the given string is found
print("that" not in y)           # membership operator "not in" returns true if the give string is not present
print ("My name is %s"%('Yash')) # % operator is used for string formatting in print statement

L s c
Let's Let's
scr
scramble this statement
t
state
statement
Let's scramble this statement for good
scramblescramblescramble
True
True
My name is Yash

## Some Built-in String Methods

In [9]:
z = "i am groot"
z1 = "456"
z2 = "    get rid of the spaces        "

print(z.capitalize())
print(z.count('o'), z.count('am'))
print(z.startswith('i'), z.startswith('I'))
print(z.endswith('ot'), z.endswith('root'), z.endswith('tot'))
print(z.find('gr'), z.find('nr'))
print(z.isdigit(), z1.isdigit())
print(len(z))
print(z2, len(z2))
print(z2.lstrip(),len(z2.lstrip()))
print(z2.rstrip(),len(z2.rstrip()))
print(z2.strip(), len(z2.strip()))
print(z.split())
z = z.split()
z[0] = "i'm "
z = z[0] + z[2]
z

I am groot
2 1
True False
True True False
5 -1
False True
10
    get rid of the spaces         33
get rid of the spaces         29
    get rid of the spaces 25
get rid of the spaces 21
['i', 'am', 'groot']

"i'm groot"

## Python Lists ..  [Arrays with a swag]

In [10]:
lis = [1,2,"hi","hey"]

In [11]:
lis[2],lis[3]            # Accessing list elements

('hi', 'hey')

In [12]:
lis[1] = "boom"          # Updating list elements
lis

[1, 'boom', 'hi', 'hey']

In [13]:
del lis[3]               # deleting list elements
lis

[1, 'boom', 'hi']

## Basic list operations

![image.png](attachment:image.png)

In [14]:
lis2 = [2,45,-9,76]
print("max->",max(lis2),"  min->",min(lis2))           # finding max and min

lis2.sort()                                            # method to sort list elements
print(lis2)

max-> 76   min-> -9
[-9, 2, 45, 76]

## Built-in list methods

In [15]:
lis3 = [1,4,4,"something","here"]
lis3.append("and here")                            # appending an obj to the list
print("append ->" ,lis3)

print("count ->",lis3.count(4))                    # returns the count of how many times an obj occurs

lis3.append([56,"new list"])                       # appending a new list to the original list
print("appending another list ->",lis3)

del lis3[-1]

lis3.extend([56,"new list"])                       # extending a new list to the original list
print("extending another list ->",lis3)

print(lis3.index(4))                               # returns the lowest index of an object

lis3.insert(3, "inject")                           # inserting an object at position 3
print(lis3)

print(lis3.pop(3))                                 # pops out the element from list
print(lis3, "<--- an element is popped from here")

lis3.reverse()                                     # reverses the order of the list
print(lis3)

append -> [1, 4, 4, 'something', 'here', 'and here']
count -> 2
appending another list -> [1, 4, 4, 'something', 'here', 'and here', [56, 'new list']]
extending another list -> [1, 4, 4, 'something', 'here', 'and here', 56, 'new list']
1
[1, 4, 4, 'inject', 'something', 'here', 'and here', 56, 'new list']
inject
[1, 4, 4, 'something', 'here', 'and here', 56, 'new list'] <--- an element is popped from here
['new list', 56, 'and here', 'here', 'something', 4, 4, 1]

## Tuples - Lists without duplicates

In [16]:
# Tuples cannot be changed unlike lists and they use parenthesis

tup = (1,4,"this","tuple")
del tup[0]                    #cannot delete any element, outputs TypeError

TypeError: ignored

## Dictionary

In [ ]:
dict = {"name" : "robert", "age" : 56, "profession" : "iron-man" }

print(dict["name"])                              # Accessing a dictionary value using key

dict["name"] = "robert downey"                   # Updating a value using key

print(dict)

del dict["age"]                                  # Deleting a value

print(dict)
print("name" in dict)

## Functions

In [ ]:
def fun(a):
    a = a * 5
    print(a)

fun(5)

In [ ]:
def args(state, university="Sac State"):                                    # default arguments
    print("State :", state,"  University :",university)

args("CA")