<a href="https://colab.research.google.com/github/srujayreddyv/CSUS-CSC177-DataAnalyticsAndMining/blob/main/labs/Tutorial1_Python_Srujay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1: Introduction to Python

Python is a high-level programming language with extensive libraries available to perform various data analysis tasks.
The following tutorial contains examples of using various data types, functions, and library modules available in the standard Python library. The notebook can be downloaded from http://www.cse.msu.edu/~ptan/dmbook/tutorials/tutorial1/tutorial1.ipynb. Read the step-by-step instructions below carefully. To execute the code, click on each cell below and press the SHIFT-ENTER keys simultaneously.

We begin with some basic information about Python:
1. Python is an interpreted language, unlike other high-level programming languages such as C or C++. You only need to submit your Python program to an interpreter for execution, without having to explicitly compile and link the code first.

2. Python is a dynamically typed language, which means variable names are bound to their respective types during execution time. You do not have to explicitly declare the type of a variable before using it in the code unlike Java, C++, and other statically-typed languages.

3. Instead of using braces '{' and '}', Python uses whitespace indentation to group together related statements in loops or other control-flow statements.

4. Python uses the hash character ('#') to precede single-line comments. Triple-quoted strings (''') are commonly used to denote multi-line comments (even though it is not part of the standard Python language) or docstring of functions.

5. Python uses pass by reference (instead of pass by value) when assigning a variable to another (e.g., a = b) or when passing an object as input argument to a function. Thus, any modification to the assigned variable or to the input argument within the function will affect the original object.  

6. Python uses `None` to denote a null object (e.g., a = None). You do not have to terminate each statement with a terminating character (such as a semicolon) unlike other languages.

7. You may access the variables or functions defined in another Python program file using the `import` command. This is analogous to the `import` command in Java or the `#include` command in C or C++.

## Demo of Using Python in Jupyter Notebook

In [1]:
a = 4  # assign value 4 to variable a

In [2]:
print (a)

4

In [3]:
type(a)  # what is the type of a?

int

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter.

By convension, variable names start with a lower-case letter, and Class names start with a capital letter.

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except,
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

**NOTE**

In [4]:
int a = 1;  # in C

SyntaxError: ignored

In [5]:
c = 2.1
print (type(c))

<class 'float'>

## Modules

Most of the functionality in Python is provided by *modules*.

The Python Standard Library is a large collection of modules to access the operating system, do file I/O, string management, network communication, and much more.


To use a module in a python program it first has to be imported. A module can be imported using the `import` statement. For example, to import the module `math`, which contains many standard mathematical functions, we can do:

In [6]:
import math

This includes the whole module and makes it available for use later in the program. For example, we can do:

In [7]:
import math

print (math.cos(2 * math.pi))

1.0

Alternatively, we can chose to import all symbols (functions and variables) in a module to the current namespace (so that we don't need to use the prefix "`math.`" every time we use something from the `math` module:

In [8]:
from math import *

x = cos(2 * pi)

print (x)

1.0

In [9]:
from math import cos, pi

x = cos(2 * pi)

print (x)

1.0

### In notebook,  use **"?"**

In [10]:
math.sqrt?

In [11]:
math.sqrt(10)

3.1622776601683795

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [12]:
print (1*2, 1+1, 1*3, 3//2, 2**2)

2 2 3 1 4

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [13]:
2 > 1, 2 < 1

(True, False)

In [14]:
# equality
1 == 1

True

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [15]:
s = "Hello world"
# or
s = 'Hello world'
type(s)

str

In [16]:
# length of the string: the number of characters
len(s)

11

In [17]:
# replace a substring in a string with somethign else
s2 = s.replace("world", "csc177")
print (s2)

Hello csc177

We can index a character in a string using `[]`:

In [18]:
s[0]

'H'

Indexing start at 0!

We can use extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop`:

In [19]:
s[0:5]

'Hello'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [20]:
s[:5]

'Hello'

In [21]:
s[6:]

'world'

In [22]:
s[:]

'Hello world'

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [23]:
s[::1]

'Hello world'

In [24]:
s[::2]

'Hlowrd'

This technique is called *slicing*.

Python has a very rich set of functions for text processing. See for example http://docs.python.org/2/library/string.html for more information.

In [25]:
"str1" + "str2" + "str3" # strings added with + are concatenated without space

'str1str2str3'

In [26]:
"value = %f" % 1.0       # we can use C-style string formatting

'value = 1.000000'

In [27]:
# this formatting creates a string
"value1 = %.2f. value2 = %d" % (3.1415, 1.5)

'value1 = 3.14. value2 = 1'

In [28]:
# alternative, more intuitive way of formatting a string
s = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)

print (s)

value1 = 3.1415, value2 = 1.5

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[...]`:

In [29]:
l = [1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [30]:
print (l)

print (l[1:3])

print (l[::2])

[1, 2, 3, 4]
[2, 3]
[1, 3]

Elements in a list do not all have to be of the same type:

In [31]:
l = [1, 'a', 1.0, 1-1j]
l

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

Lists play a very important role in Python, and are for example used in loops and other flow control structures (discussed below). There are number of convenient functions for generating lists of various types, for example the `range` function:

In [32]:
# convert a string to a list by type casting:
s2 = list(s)
s2

['v',
 'a',
 'l',
 'u',
 'e',
 '1',
 ' ',
 '=',
 ' ',
 '3',
 '.',
 '1',
 '4',
 '1',
 '5',
 ',',
 ' ',
 'v',
 'a',
 'l',
 'u',
 'e',
 '2',
 ' ',
 '=',
 ' ',
 '1',
 '.',
 '5']

In [33]:
# sorting lists (inplace)
s2.sort()
print (s2)

[' ', ' ', ' ', ' ', ' ', ',', '.', '.', '1', '1', '1', '1', '2', '3', '4', '5', '5', '=', '=', 'a', 'a', 'e', 'e', 'l', 'l', 'u', 'u', 'v', 'v']

#### Adding, inserting, modifying, and removing elements from lists

In [34]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

l

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [35]:
l[1] = "p"
l[2] = "p"

l

['A', 'p', 'p']

Insert at element a specific index using `insert`

In [36]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")

l

['i', 'n', 's', 'e', 'r', 't', 'A', 'p', 'p']

Remove first element with specific value using 'remove'

In [37]:
l.remove("A")
l

['i', 'n', 's', 'e', 'r', 't', 'p', 'p']

Remove an element at a specific location using `del`:

In [38]:
del l[7]
del l[6]

l

['i', 'n', 's', 'e', 'r', 't']

See `help(list)` for more details, or read the online documentation

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*.

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [39]:
point = (10, 20)

print (point, type(point))

(10, 20) <class 'tuple'>

If we try to assign a new value to an element in a tuple we get an error:

In [40]:
point[0] = 20

TypeError: ignored

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for lists are `{key1 : value1, ...}`:

In [41]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

# or equivalent

params = dict(parameter1=1.0, parameter2=2.0, parameter3=3.0)

params

{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [42]:
#Or this:

params  = dict([['parameter1', 1.0], ['parameter2', 2.0], ['parameter3', 3.0]])
params

{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [43]:
print ("parameter1 =", params["parameter1"])
print ("parameter2 =", params["parameter2"])
print ("parameter3 =", params["parameter3"])

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [44]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

params

{'parameter1': 'A', 'parameter2': 'B', 'parameter3': 3.0, 'parameter4': 'D'}

In [45]:
"parameter1" in params

True

In [46]:
# delete a key
del params["parameter3"]
params

{'parameter1': 'A', 'parameter2': 'B', 'parameter4': 'D'}

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code use the keywords `if`, `elif` (else if), `else`:

In [47]:
statement1 = False
statement2 = False

if statement1:
    print ("statement1 is True")

elif statement2:
    print ("statement2 is True")

else:
    print ("statement1 and statement2 are False")

statement1 and statement2 are False

Notice that in the Python programming language, program blocks are defined by their indentation level.

Compare to the equivalent C code:

    if (statement1)
    {
        printf("statement1 is True\n");
    }
    else if (statement2)
    {
        printf("statement2 is True\n");
    }
    else
    {
        printf("statement1 and statement2 are False\n");
    }

In C blocks are defined by the enclosing curly brakets `{` and `}`. And the level of indentation (white space before the code statements) does not matter (completely optional).

But in Python, the extent of a code block is defined by the indentation level (ideally four white spaces). This means that we have to **be careful to indent our code correctly**, or else we will get syntax errors.

**Examples:**

In [48]:
statement1 = False

if statement1:
    print ("printed if statement1 is True")

    print ("still inside the if block")

In [49]:
if statement1:
    print ("printed if statement1 is True")

print ("now outside the if block")

now outside the if block

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:


**`for` loops**:

In [50]:
for x in [1, 2, 3]:
    print (x)

1
2
3

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [51]:
for x in range(4): # by default range start at 0
    print (x)

0
1
2
3

Note: `range(4)` does not include 4 !

In [52]:
for x in range(-3,3):
    print (x)

-3
-2
-1
0
1
2

In [53]:
for word in ["scientific", "computing", "with", "python"]:
    print (word)

scientific
computing
with
python

In [54]:
for x in 'Hello world!':
    print (x)

H
e
l
l
o

w
o
r
l
d
!

To iterate over ***key-value pairs of a dictionary:***

In [55]:
for key, value in params.items():
    print (key, " = ", value)

parameter1  =  A
parameter2  =  B
parameter4  =  D

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

**List comprehensions: Creating lists using `for` loops**:

A convenient and compact way to initialize lists:

In [56]:
l1 = [x**2 for x in range(0,5)]

l1

[0, 1, 4, 9, 16]

**`while` loops**:

In [57]:
i = 0

while i < 5:
    print (i)
    i = i + 1

print ("done")

0
1
2
3
4
done

Note that the `print "done"` statement is not part of the `while` loop body because of the difference in indentation.

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parenthises `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

In [58]:
def func0():
    print ("test")

In [59]:
func0()

test

Functions that returns a value use the `return` keyword:

In [60]:
def square(x):
    return x ** 2

In [61]:
square(4)

16

### Default argument and keyword arguments

In [62]:
def myfunc(x, p=2, debug=False):  # debug has a default value = False
    if debug:
        print ("evaluating myfunc for x =", x, "using exponent p =", p)
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [63]:
myfunc(5)

25

In [64]:
myfunc(5, debug=True)

evaluating myfunc for x = 5 using exponent p = 2

25

## Classes

Classes are the key features of object-oriented programming. A class is a structure for representing an object and the operations that can be performed on the object.

In Python a class can contain *attributes* (variables) and *methods* (functions).

In python a class are defined almost like a functions, but using the `class` keyword, and the class definition usually contains a number of class method definitions (a function in a class).

*** Each instance method should have an argurment `self` as it first argument. This object is a self-reference.***

*** Some instance method names have special meaning, for example:***

 * `__init__`: The name of the method that is invoked when the object is first created.
 * `__str__` : A method that is invoked when a simple string representation of the class is needed, as for example when printed.

In [65]:
class Point:
    """
    Simple class for representing a point in a Cartesian coordinate system.
    """

    def __init__(self, x, y):
        """
        Create a new Point at x, y.
        """
        self.x = x
        self.y = y

    def translate(self, dx, dy):
        """
        Translate the point by dx and dy in the x and y direction.
        """
        self.x += dx
        self.y += dy

    def __str__(self):
        return "Point at [%f, %f]" % (self.x, self.y)

To create a new instance of a class:

In [66]:
p1 = Point(0, 0) # this will invoke the __init__ method in the Point class

print (p1)         # this will invode the __str__ method

Point at [0.000000, 0.000000]

To invoke a class method in the class instance `p`:

In [67]:
p2 = Point(1, 1)

p1.translate(0.25, 1.5)

print (p1)
print (p2)

Point at [0.250000, 1.500000]
Point at [1.000000, 1.000000]

*** Static methods and inheritance:***

In [68]:
class MyClass(object):       # MyClass is a subclass of the superclass "object"

    @staticmethod
    def the_static_method(x):
        print (x)

MyClass.the_static_method(2) # outputs 2

2

## Exceptions

In Python errors are managed with a special language construct called "Exceptions". When errors occur exceptions can be raised, which interrupts the normal program flow and fallback to somewhere else in the code where the closest try-except statements is defined.

To generate an exception we can use the `raise` statement, which takes an argument that must be an instance of the class `BaseExpection` or a class dervied from it.

In [69]:
raise Exception("description of the error")

Exception: ignored

In [70]:
try:
    print ("test")
    # generate an error: the variable test is not defined
    print (test)
except:
    print ("Caught an expection")

test
Caught an expection

To get information about the error, we can access the `Expection` class instance that describes the exception by using for example:

    except Exception as e:

In [71]:
try:
    print ("test")
    # generate an error: the variable test is not defined
    print (test)
except Exception as e:
    print ("Caught an expection:", e)

test
Caught an expection: name 'test' is not defined

## User-Defined Functions

You can create your own functions in Python, which can be named or unnamed. Unnamed functions are defined using the lambda keyword as shown in the previous example for sorting a list of tuples.

In [72]:
myfunc = lambda x: 3*x**2 - 2*x + 3      # example of an unnamed quadratic function

print(myfunc(2))

11

In [73]:
import math

# The following function will discard missing values from a list
def discard(inlist, sortFlag=False):    # default value for sortFlag is False
    outlist = []
    for item in inlist:
        if not math.isnan(item):
            outlist.append(item)

    if sortFlag:
        outlist.sort()
    return outlist

mylist = [12, math.nan, 23, -11, 45, math.nan, 71]

print(discard(mylist,True))

[-11, 12, 23, 45, 71]

## File I/O

You can read and write data from a list or other objects to a file.

In [74]:
states = [('MI', 'Michigan', 'Lansing'),('CA', 'California', 'Sacramento'),
          ('TX', 'Texas', 'Austin'), ('MN', 'Minnesota', 'St Paul')]

with open('states.txt', 'w') as f:
    f.write('\n'.join('%s,%s,%s' % state for state in states))

with open('states.txt', 'r') as f:
    for line in f:
        fields = line.split(sep=',')    # split each line into its respective fields
        print('State=',fields[1],'(',fields[0],')','Capital:', fields[2])

State= Michigan ( MI ) Capital: Lansing

State= California ( CA ) Capital: Sacramento

State= Texas ( TX ) Capital: Austin

State= Minnesota ( MN ) Capital: St Paul